.container {
    height: 50vh;
    background-color: grey;
}

.ball {
    height: 5vh;
    width: 5vh;
    background-color: red;
    border-radius: 80%;
    position: relative;
    top: 100vh;
    animation: moving-x 4s linear  infinite  , moving-y 0.5s ease-out infinite alternate ;
}
@keyframes moving-y {
    from{
        top: 45vh;
    }
    to{
        top: 30vh;
    }
}
@keyframes moving-x {
    from {
       /* top: 45vh; */
       left: 0%;
    }
    to{
        /* top: 30vh; */
        left : 100%
    }
}